body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.spider-board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  background: linear-gradient(180deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
}

.columns {
  display: flex;
  gap: 10px;
}

.columns > .column {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.column > .card.first {
  margin-top: 0;
}

.column > .card {
  margin-top: -100%;
}

.deal-button {
  position: absolute;
  top: 50px;
  right: 10px;
}

.stock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stock > .stock-row-container {
  display: flex;
  flex: 1;
  min-width: 20%;
}

.stock-row-container .stock-row:first-child {
  margin-left: 0;
}

.stock-row-container .stock-row {
  margin-left: -34%;
  padding: 10px;
}

.stock > .completed-suit-row {
  flex: 1;
  padding: 10px;
}

.stock > .completed-suit-row > .card {
  height: 100%;
}

@media (max-width: 768px) {
  .columns {
    gap: 0;
  }

  .columns > .column {
    padding: 2px;
  }

  .stock {
    gap: 0;
  }
}
